<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1><% if(currentUser) { %>
          Welcome <%=currentUser.username%>!
        <% } else { %>
          Welcome!
        <% } %>
      </h1>
      <% if(currentUser) { %>
        <main>Welcome to the <a href="/app">party</a>
        </main>
      <% } %>
      <h1>iRecommend</h1>
      <h4>The easy way to give and receive recommendations</h4>
      <nav>
        <ul>
          <li>I'd like to make a recommendation</li>
          <li>I'd like to request a recommendation</li>
          <li>See my recommendations</li>
          <li><a href="/users">Users</a></li>
        </ul>
      </nav>
      <% if(currentUser) { %>
        <li>
        <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log out"/>
        </form>
        </li>
      <% } %>
    </header>
  </body>
</html>
