<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%# <link rel="stylesheet" href="./css/main.css">%>
    <title></title>
  </head>
  <body>
    <header>
      <h1>iRecommend</h1>
      <div><h4>The easy way to give and receive recommendations</h4></div>
      <nav>
        <ul>
          <%# <li>I'd like to make a recommendation</li>
          <li>I'd like to request a recommendation</li>
          <li>See my recommendations</li>%>
          <li><a href="/sessions/login">Login</a></li>
          <li><a href="/sessions/register">Register</a></li>
          <li><a href="/users/account">My Account</a></li>
          <li><a href="/users">Users</a></li>
          <li><a href="/recs">Recommendations</a></li>

          <%# <li><a href="/sessions/logout">Logout</a></li>%>
        </ul>
      </nav>
    </header>
    <% if(currentUser) { %>
    <li>
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log out"/>
      </form>
    </li>
    <% } %>
    <% if(currentUser) { %>
    <main>
      Welcome to the <a href="/app">party</a>
    </main>
    <% } %>
  </body>
</html>
