<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>iRecommend</h1>
      <h4>The easy way to give and receive recommendations</h4>
      <nav>
        <ul>
          <li>I'd like to make a recommendation</li>
          <li>I'd like to request a recommendation</li>
          <li>See my recommendations</li>
          <li><a href="/users">Users</a></li>
          <li><a href="/recs">Recommendations</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
