<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Recommendations</h1>
      <nav>
        <form>
          <input type="button" value="Home" onclick="window.location.href='/'"/>
          <input type="button" value="Add a new recommendation" onclick="window.location.href='/recs/new'"/>
          <input type="button" value="Users" onclick="window.location.href='/users'"/>
        </form>
      </nav>
    </header>
    <main>
      <h2>List of Recommendations</h2>
      <ul>
        <% for(let i = 0; i < recs.length; i++) { %>
        <li>
          <a href="/recs/<%=recs[i]._id%>"><%=recs[i].title%></a>
        </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
