<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Recommendations</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/recs/new">Add a new recommendation</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>List of Recommendations</h2>
      <ul>
        <% for(let i = 0; i < recs.length; i++) { %>
        <li>
          <a href="/recs/<%=recs[i]._id%>"><%=recs[i].title%></a>
        </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
