<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Write a recommendation</h1>
      <nav>
        <form>
          <input type="button" value="Home" onclick="window.location.href='/'"/>
          <input type="button" value="Recommendations Index" onclick="window.location.href='/recs'"/>
        </form>
      </nav>
    </header>
    <main>
      <form action="/recs" method="post">
        My username: <select name="recommendee">
          <% for(let i = 0; i < users.length; i++) { %>
          <option value="<%=users[i].username%>"><%=users[i].username%></option>
        <% } %>
      </select><br/>
        <input type="text" placehold="Search..."><button type="submit">Search</button><br/>
        I am recommending: <select name="userId">
          <% for(let i = 0; i < users.length; i++) { %>
            <option value="<%=users[i]._id%>"><%=users[i].username%></option>
            <% } %>
          </select><br/>
        Title: <input type="text" name="title"/><br/>
        Recommendation: <textarea name="body"></textarea><br/>
        <input type="submit" value="Publish Recommendation"/>
      </form>
    </main>
  </body>
</html>
