<link rel="stylesheet" href="../css/main.css">
<%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="/css/app.css">%>
<h1 class="titleh1">iRecommend</h1>
<br/>
<br/>
<form action="/sessions/login" method="POST">
   Username: <input type="text" name="username" value="" required><br/>
   Password: <input type="password" name="password" value="" required><br/>
   <button>Login</button><br/>
   <br/>
   or <br/>
</form>
<form>
  <input type="button" value="Register for an account" onclick="window.location.href='/sessions/register'"/>
</form>

<% if(message) { %>
  <%= message %>
<% } %>
<form>
  <input type="button" value="Home" onclick="window.location.href='/'"/>
</form>
