<%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="/css/app.css">%>
<br>
<h1>iRecommend</h1>
<br>
<br>
<form action="/sessions/login" method="POST">
   Username: <input type="text" name="username" value=""><br/>
   Password: <input type="password" name="password" value=""><br/>
   <button>Login</button><br/>
   <br/>
   or <br/>
   <br/>
   <button><a href="/sessions/register">Register for an account</a></button>
</form>

<% if(message) { %>
  <%= message %>
<% } %>

<button><a href="/">Home</a></button>
