<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>iRecommend</h1>
      <div><h4>The easy way to give and receive recommendations</h4></div>
    </header>
    <nav>
      <ul>
        <li><a href="/sessions/logout">Logout</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>

  </body>
</html>
